@model IEnumerable<WebApplication1.Models.Records>

@{
    ViewBag.Title = "Index";
}

<h2>Наши данные:</h2>
<li><a> <img src="@Url.Content("~/Image/1.PNG")" /> 8 (492) 247-77-74</a></li>
<li><a> <img src="@Url.Content("~/Image/2.PNG")" />г. Владимир, ул. Горького, 87</a></li>
<li><a> <img src="@Url.Content("~/Image/3.PNG")" /> prkom@vlsu.ru</a></li>
<p>На карте:</p>
<img src="@Url.Content("~/Image/vlsu.PNG")" />
<p><a href="https://goo.gl/maps/DcV5KW68cjJEhWZX7" class="btn btn-primary btn-lg">Перейти на карты Google &raquo;</a></p>
